html { 
background: url(../images/inscriptionPic.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: arial;
}

.lien {
display : flex ;
justify-content : flex-end;
}

nav {
display : flex ;
justify-content : space-around;
}

h1 {
padding : 90px 20px 10px 20px;
font-size : 3em;
}

section{
display : flex;
justify-content : center;
}

.gris {
display : flex;
flex-direction : column;
justify-content : center;
background-color : lightgrey;
padding : 26px 70px 17px 70px;
width: 450px;
border : 3px black solid;
border-radius : 10px;
margin: auto;
font-weight: bold;
}

#Prenom {
padding : 10px;
display : flex;
justify-content : space-between;
}

#Nom {
padding : 10px;
display : flex;
justify-content : space-between;
}

#Login {
padding : 10px;
display : flex;
justify-content : space-between;
}

#Mdp {
padding : 10px;
display : flex;
justify-content : space-between;
}

#Confirmation {
padding : 10px;
display : flex;
justify-content : space-between;
}

#setBouton {
display : flex;
padding : 15px 0px 20px 0px;
justify-content : center;
}

#license {
display: flex;
justify-content: flex-end;
margin-top: 280px;
}

