html { 
background: url(../images/connexionPic.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: arial;
}

nav {
display : flex ;
justify-content : space-around;
}

h1 {
padding : 100px 20px 10px 20px;
font-size : 3em;
}

section{
display : flex;
justify-content : center;
}

.gris {
display : flex;
flex-direction : column;
justify-content : center;
background-color : lightgrey;
padding : 43px 43px 17px 43px;
width: 400px;
height: 170px;
border : 3px black solid;
border-radius : 10px;
}

#login {
display : flex;
flex-direction : row;
padding : 7px;
font-weight : bold;
justify-content : space-between;
}

#mdp {
display : flex;
flex-direction : row;
padding : 7px 7px 30px 7px;
font-weight : bold;
justify-content : space-between;
}

#gris2 {
display : flex;
flex-direction : row;
justify-content : space-around;
}

#license {
display: flex;
justify-content: flex-end;
margin-top: 380px;
}
