html { 
background: url(../images/seriesPic.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: sans-serif;
}

.lien {
display : flex;
justify-content : flex-end;
padding : 9px 9px 9px 13px;
}

.class {
display : flex;
flex-direction : column;
justify-content : center;
}

#firstLine {
display : flex;
justify-content : center;
}

#scdLine {
display : flex;
justify-content : center;
}

#thirdLine {
display : flex;
justify-content : center;
}

#license {
display: flex;
justify-content: flex-end;
margin-top: 280px;
}

