html { 
font-family: sans-serif;
}

:root {
	--phon_o_maj_nas: #7f2a18;
	--phon_1: #505050;
	--phon_2: #c9004d;
	--phon_4: #c3ffff;
	--phon_7: #B6DB5A;
	--phon_9: #ea6b76;
	--phon_a_maj: #922289;
	--phon_a: #ffffff;
	--phon_arob_rho: #ffcc99;
	--phon_arobase: #fef200;
	--phon_a_maj_nas: #f3bbcd;
	--phon_b: #156b5e;
	--phon_b_maj: #f87407;
	--phon_d: #0c843d;
	--phon_d_maj: #d65c81;
	--phon_e: #44a1ca;
	--phon_e_maj: #50b8a2;
	--phon_e_maj_nas: #597fbf;
	--phon_f: #a897b7;
	--phon_g: #929896;
	--phon_x: #dcede7;
	--phon_h_maj: #ffeba2;
	--phon_i: #e60004;
	--phon_i_maj: #e7236d;
	--phon_j: #f591ad;
	--phon_k: #feae21;
	--phon_k_h: #ff3399;
	--phon_l: #007ab6;
	--phon_m_maj: #23e915;
	--phon_m: #E7262b;
	--phon_n_maj: #586329;
	--phon_n: #656ea7;
	--phon_o: #a64b00;
	--phon_o_maj: #bc7b5e;
	--phon_p: #90312f;
	--phon_p_bilab: #e8ea2d;
	--phon_p_h: #00cccc;
	--phon_r_maj: #ee863f;
	--phon_r_retr: #8C9194;
	--phon_s_maj: #019bcf;
	--phon_s: #6eab2c;
	--phon_s_alvpal: #ffbe86;
	--phon_s_retr: #00ffff;
	--phon_t: #bb2970;
	--phon_t_maj: #e9ea8c;
	--phon_t_h: #ffff00;
	--phon_u: #007b4e;
	--phon_u_maj: #ae9a91;
	--phon_v: #9a8d1b;
	--phon_w: #52c2b6;
	--phon_y: #e8bb85;
	--phon_z_maj: #126293;
	--phon_z: #aa4581;
	--phon_z_alvpal: #7fe9ab;
	--phon_z_retr: #3333ff;
}

.serie1 {
background-color : #ffeb7a;
}

.serie2 {
background-color : thistle;
}

.serie3 {
background-color : lemonchiffon;
}

.serie4 {
background-color : #e6e6ff;
}

.serie5 {
background-color : #d1fdfd;
}
.serieCorrection {
background-color : #e3fbe3;
}
.show {
display:block;
}

.liste_a {
display:none;
position:absolute;
}

.liste_z2 {
display:none;
position:absolute;
}

span.el_a {
color: red;
}

span.el_z2 {
color: yellow;
}

.top {
display : flex;
flex-direction : row;
justify-content : space-around;
padding : 9px 9px 9px 13px;
}

.title {
font-weight: bold;
flex-grow: 4;
padding : 5px;
}

.lien {
padding : 5px;
}

.main {
display : flex;
flex-direction : row;
justify-content : flex-start;
}

.column {
display : flex;
flex-direction : column;
justify-content : space-evenly;
padding: 50px 35px 50px 35px;
}

#zoneRetour {
background: black;
color: white;
border: solide white 2px;
}

.play {
padding: 50px 0px 50px 0px;
}

svg {
   background-color: black;
}

.null {fill:#000000;fill-opacity:1;stroke:#ffffff;stroke-opacity:1} /*rectangle vide*/

.phon_o_maj_nas {      fill: var(--phon_o_maj_nas); color: var(--phon_o_maj_nas);} /*ɔ̃*/
.phon_1 {      fill: var(--phon_1); color: var(--phon_1);} /*ɨ*/
.phon_2 {      fill: var(--phon_2); color: var(--phon_2);} /*ø*/
.phon_4 {      fill: var(--phon_4); color: var(--phon_4);} /*ɾ*/
.phon_7 {      fill: var(--phon_7); color: var(--phon_7);} /*ɤ*/
.phon_9 {      fill: var(--phon_9); color: var(--phon_9);} /*œ*/
.phon_a_maj {      fill: var(--phon_a_maj); color: var(--phon_a_maj);} /*ɑ*/
.phon_a {      fill: var(--phon_a); color: var(--phon_a);}
.phon_arob_rho{fill: var(--phon_arob_rho); color: var(--phon_arob_rho);} /*ɚ   @\*/
.phon_arobase {fill: var(--phon_arobase); color: var(--phon_arobase);} /*ə*/
.phon_a_maj_nas {  fill: var(--phon_a_maj_nas); color: var(--phon_a_maj_nas);} /*ɑ̃*/
.phon_b {      fill: var(--phon_b); color: var(--phon_b);}
.phon_b_maj {      fill: var(--phon_b_maj); color: var(--phon_b_maj);} /*β*/
.phon_d {      fill: var(--phon_d); color: var(--phon_d);}
.phon_d_maj {      fill: var(--phon_d_maj); color: var(--phon_d_maj);} /*ð*/
.phon_e {      fill: var(--phon_e); color: var(--phon_e);}
.phon_e_maj {      fill: var(--phon_e_maj); color: var(--phon_e_maj);} /*ɛ*/
.phon_e_maj_nas {  fill: var(--phon_e_maj_nas); color: var(--phon_e_maj_nas);} /*ɛ̃*/
.phon_f {      fill: var(--phon_f); color: var(--phon_f);}
.phon_g {      fill: var(--phon_g); color: var(--phon_g);}
.phon_x {      fill: var(--phon_x); color: var(--phon_x);}
.phon_h_maj {      fill: var(--phon_h_maj); color: var(--phon_h_maj);} /*ɥ*/
.phon_i {      fill: var(--phon_i); color: var(--phon_i);}
.phon_i_maj {      fill: var(--phon_i_maj); color: var(--phon_i_maj);} /*ɪ*/
.phon_j {      fill: var(--phon_j); color: var(--phon_j);}
.phon_k {      fill: var(--phon_k); color: var(--phon_k);}
.phon_k_h {    fill: var(--phon_k_h); color: var(--phon_k_h);} /*kʰ*/
.phon_l {      fill: var(--phon_l); color: var(--phon_l);}
.phon_m_maj {      fill: var(--phon_m_maj); color: var(--phon_m_maj);} /*ɯ*/
.phon_m {      fill: var(--phon_m); color: var(--phon_m);}
.phon_n_maj {      fill: var(--phon_n_maj); color: var(--phon_n_maj);} /*ŋ*/
.phon_n {      fill: var(--phon_n); color: var(--phon_n);}
.phon_o {      fill: var(--phon_o); color: var(--phon_o);}
.phon_o_maj {      fill: var(--phon_o_maj); color: var(--phon_o_maj);} /*ɔ*/
.phon_p {      fill: var(--phon_p); color: var(--phon_p);}
.phon_p_bilab {fill: var(--phon_p_bilab); color: var(--phon_p_bilab);} /*ɸ   p\*/
.phon_p_h {    fill: var(--phon_p_h); color: var(--phon_p_h)} /*pʰ*/
.phon_r_maj {      fill: var(--phon_r_maj); color: var(--phon_r_maj);} /*ʁ*/
.phon_r_retr { fill: var(--phon_r_retr); color: var(--phon_r_retr);} /*ɻ   r\`*/
.phon_s_maj {      fill: var(--phon_s_maj); color: var(--phon_s_maj);} /*ʃ*/
.phon_s {      fill: var(--phon_s); color: var(--phon_s);}
.phon_s_alvpal{fill: var(--phon_s_alvpal); color: var(--phon_s_alvpal);} /*ɕ   s\*/
.phon_s_retr { fill: var(--phon_s_retr); color: var(--phon_s_retr);} /*ʂ   s`*/
.phon_t {      fill: var(--phon_t); color: var(--phon_t);}
.phon_t_maj {      fill: var(--phon_t_maj); color: var(--phon_t_maj);} /*θ*/
.phon_t_h {    fill: var(--phon_t_h); color: var(--phon_t_h);} /*tʰ*/
.phon_u {      fill: var(--phon_u); color: var(--phon_u);} 
.phon_u_maj {      fill: var(--phon_u_maj); color: var(--phon_u_maj);} /*ʊ*/
.phon_v {      fill: var(--phon_v); color: var(--phon_v);}
.phon_w {      fill: var(--phon_w); color: var(--phon_w);}
.phon_y {      fill: var(--phon_y); color: var(--phon_y);}
.phon_z_maj {      fill: var(--phon_z_maj); color: var(--phon_z_maj);} /*ʒ*/
.phon_z {      fill: var(--phon_z); color: var(--phon_z);}
.phon_z_alvpal{fill: var(--phon_z_alvpal); color: var(--phon_z_alvpal);} /*ʑ   z\*/
.phon_z_retr { fill: var(--phon_z_retr); color: var(--phon_z_retr);} /*ʐ   z`*/

/*
traitement des affriquées
*/
.phon_wa { 
 background:
 -webkit-linear-gradient(var(--phon_w) 62%, var(--phon_a) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
.phon_we_maj_nas { 
 background:
 -webkit-linear-gradient(var(--phon_w) 62%, var(--phon_e_maj_nas) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
.phon_ts { 
 background:
 -webkit-linear-gradient(var(--phon_t) 62%, var(--phon_s) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
.phon_ts_maj { 
 background:
 -webkit-linear-gradient(var(--phon_t) 62%, var(--phon_s_maj) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
.phon_dz { 
 background:
 -webkit-linear-gradient(var(--phon_d) 62%, var(--phon_z) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
.phon_dz_maj { 
 background:
 -webkit-linear-gradient(var(--phon_d) 62%, var(--phon_z_maj) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
.phon_ks { 
 background:
 -webkit-linear-gradient(var(--phon_k) 62%, var(--phon_s) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
.phon_gz { 
 background:
 -webkit-linear-gradient(var(--phon_g) 62%, var(--phon_z) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
.phon_ij { 
 background:
 -webkit-linear-gradient(var(--phon_i) 62%, var(--phon_j) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
.phon_h_maj_i { 
 background:
 -webkit-linear-gradient(var(--phon_h_maj) 62%, var(--phon_i) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}
.phon_nj { 
 background:
 -webkit-linear-gradient(var(--phon_n) 62%, var(--phon_j) 60%);
 -webkit-background-clip: text;
 background-clip: text;
 -webkit-text-fill-color: transparent;
}

/*STYLES DES TRANSCRIPTIONS GRAPHIQUES*/
.tran {
   font-style:normal;
   font-variant:normal;
   font-weight:normal;
   font-stretch:normal;
   font-size:18px;
   font-family:sans-serif;
   -inkscape-font-specification:'sans-serif Italic';
   fill:#000000;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.80000001;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1;
}

.tran_pinyin {
   font-style:italic;
   font-variant:normal;
   font-weight:normal;
   font-stretch:normal;
   font-size:13px;
   font-family:sans-serif;
   -inkscape-font-specification:'sans-serif normal';
   fill:#000000;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.80000001;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1;
}

.tran_bopomofo {
   font-style:normal;
   font-variant:normal;
   font-weight:normal;
   font-stretch:normal;
   font-size:13px;
   font-family:sans-serif;
   -inkscape-font-specification:'sans-serif normal';
   fill:#000000;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.80000001;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1;
}
